apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-worker
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: marketing
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-server
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-ui
spec:
  replicas: 1
