apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flowmaestro

resources:
  - namespace.yaml
  - configmap.yaml
  - temporal-configmap.yaml
  - api-deployment.yaml
  - worker-deployment.yaml
  - frontend-deployment.yaml
  - marketing-deployment.yaml
  - temporal-deployment.yaml
  - services.yaml
  - ingress.yaml

commonLabels:
  app: flowmaestro
  managed-by: kustomize
